<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_159_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{73,39}</string>
				<key>spriteSourceSize</key>
				<string>{73,41}</string>
				<key>textureRect</key>
				<string>{{0,46},{73,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_159_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{73,38}</string>
				<key>spriteSourceSize</key>
				<string>{73,41}</string>
				<key>textureRect</key>
				<string>{{79,0},{73,38}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_159_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,28}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{62,98}</string>
				<key>textureRect</key>
				<string>{{0,86},{62,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_159_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{13,12}</string>
				<key>spriteSourceSize</key>
				<string>{73,41}</string>
				<key>textureRect</key>
				<string>{{63,86},{13,12}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_159_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{78,45}</string>
				<key>spriteSourceSize</key>
				<string>{78,49}</string>
				<key>textureRect</key>
				<string>{{0,0},{78,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_159-hd.png</string>
			<key>size</key>
			<string>{117,128}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_159-hd.png</string>
		</dict>
	</dict>
</plist>