<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_158_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{159,78}</string>
				<key>spriteSourceSize</key>
				<string>{167,88}</string>
				<key>textureRect</key>
				<string>{{0,89},{159,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_158_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3.5}</string>
				<key>spriteSize</key>
				<string>{153,65}</string>
				<key>spriteSourceSize</key>
				<string>{167,88}</string>
				<key>textureRect</key>
				<string>{{168,0},{153,65}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_158_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,57}</string>
				<key>spriteSize</key>
				<string>{123,82}</string>
				<key>spriteSourceSize</key>
				<string>{123,196}</string>
				<key>textureRect</key>
				<string>{{0,168},{123,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_158_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{95,58}</string>
				<key>spriteSourceSize</key>
				<string>{167,88}</string>
				<key>textureRect</key>
				<string>{{160,154},{95,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_158_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{167,88}</string>
				<key>spriteSourceSize</key>
				<string>{167,88}</string>
				<key>textureRect</key>
				<string>{{0,0},{167,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_158-uhd.png</string>
			<key>size</key>
			<string>{233,250}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_158-uhd.png</string>
		</dict>
	</dict>
</plist>