<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_158_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,44}</string>
				<key>spriteSourceSize</key>
				<string>{84,44}</string>
				<key>textureRect</key>
				<string>{{0,0},{84,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_158_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{82,37}</string>
				<key>spriteSourceSize</key>
				<string>{84,44}</string>
				<key>textureRect</key>
				<string>{{85,0},{82,37}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_158_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,28.5}</string>
				<key>spriteSize</key>
				<string>{62,41}</string>
				<key>spriteSourceSize</key>
				<string>{62,98}</string>
				<key>textureRect</key>
				<string>{{0,90},{62,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_158_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{48,33}</string>
				<key>spriteSourceSize</key>
				<string>{84,44}</string>
				<key>textureRect</key>
				<string>{{85,83},{48,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_158_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,44}</string>
				<key>spriteSourceSize</key>
				<string>{84,44}</string>
				<key>textureRect</key>
				<string>{{0,45},{84,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_158-hd.png</string>
			<key>size</key>
			<string>{122,131}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_158-hd.png</string>
		</dict>
	</dict>
</plist>