<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_151_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,31}</string>
				<key>spriteSourceSize</key>
				<string>{80,31}</string>
				<key>textureRect</key>
				<string>{{0,36},{80,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_151_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{58,20}</string>
				<key>spriteSourceSize</key>
				<string>{80,31}</string>
				<key>textureRect</key>
				<string>{{85,0},{58,20}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_151_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,28}</string>
				<key>spriteSize</key>
				<string>{61,42}</string>
				<key>spriteSourceSize</key>
				<string>{61,98}</string>
				<key>textureRect</key>
				<string>{{0,68},{61,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_151_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,12}</string>
				<key>spriteSize</key>
				<string>{56,7}</string>
				<key>spriteSourceSize</key>
				<string>{80,31}</string>
				<key>textureRect</key>
				<string>{{106,0},{56,7}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_151_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,35}</string>
				<key>spriteSourceSize</key>
				<string>{84,35}</string>
				<key>textureRect</key>
				<string>{{0,0},{84,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_151-hd.png</string>
			<key>size</key>
			<string>{113,110}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/bird_151-hd.png</string>
		</dict>
	</dict>
</plist>