<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dart_98_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,41}</string>
				<key>spriteSourceSize</key>
				<string>{52,41}</string>
				<key>textureRect</key>
				<string>{{0,46},{50,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_98_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,36}</string>
				<key>spriteSourceSize</key>
				<string>{46,36}</string>
				<key>textureRect</key>
				<string>{{55,0},{46,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dart_98_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{43,36}</string>
				<key>spriteSourceSize</key>
				<string>{46,36}</string>
				<key>textureRect</key>
				<string>{{0,88},{43,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_98_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,45}</string>
				<key>spriteSourceSize</key>
				<string>{56,45}</string>
				<key>textureRect</key>
				<string>{{0,0},{54,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/dart_98-hd.png</string>
			<key>size</key>
			<string>{91,124}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/dart_98-hd.png</string>
		</dict>
	</dict>
</plist>