<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dart_100_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{118,82}</string>
				<key>spriteSourceSize</key>
				<string>{126,82}</string>
				<key>textureRect</key>
				<string>{{0,93},{118,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_100_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-24.5,0}</string>
				<key>spriteSize</key>
				<string>{51,56}</string>
				<key>spriteSourceSize</key>
				<string>{126,82}</string>
				<key>textureRect</key>
				<string>{{129,0},{51,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_100_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{126,82}</string>
				<key>textureRect</key>
				<string>{{129,57},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_100_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{128,92}</string>
				<key>spriteSourceSize</key>
				<string>{136,92}</string>
				<key>textureRect</key>
				<string>{{0,0},{128,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/dart_100-uhd.png</string>
			<key>size</key>
			<string>{180,175}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/dart_100-uhd.png</string>
		</dict>
	</dict>
</plist>