<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dart_97_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{29,26}</string>
				<key>spriteSourceSize</key>
				<string>{37,30}</string>
				<key>textureRect</key>
				<string>{{0,31},{29,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_97_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,24}</string>
				<key>spriteSourceSize</key>
				<string>{37,30}</string>
				<key>textureRect</key>
				<string>{{32,0},{27,24}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dart_97_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{22,22}</string>
				<key>spriteSourceSize</key>
				<string>{37,30}</string>
				<key>textureRect</key>
				<string>{{32,28},{22,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dart_97_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,30}</string>
				<key>spriteSourceSize</key>
				<string>{37,30}</string>
				<key>textureRect</key>
				<string>{{0,0},{31,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/dart_97.png</string>
			<key>size</key>
			<string>{56,57}</string>
			<key>textureFileName</key>
			<string>icons/dart_97.png</string>
		</dict>
	</dict>
</plist>