<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>drone_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4.5}</string>
				<key>spriteSize</key>
				<string>{56,53}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{61,14},{56,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>drone_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-11}</string>
				<key>spriteSize</key>
				<string>{52,40}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{0,71},{52,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>drone_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,25.5}</string>
				<key>spriteSize</key>
				<string>{63,13}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{0,0},{63,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>drone_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{60,56}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{0,14},{60,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/drone_01-hd.png</string>
			<key>size</key>
			<string>{117,111}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/drone_01-hd.png</string>
		</dict>
	</dict>
</plist>