<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_501_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,32}</string>
				<key>spriteSourceSize</key>
				<string>{36,32}</string>
				<key>textureRect</key>
				<string>{{0,0},{36,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_501_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{36,29}</string>
				<key>spriteSourceSize</key>
				<string>{36,33}</string>
				<key>textureRect</key>
				<string>{{0,33},{36,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_501_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,13}</string>
				<key>spriteSize</key>
				<string>{30,6}</string>
				<key>spriteSourceSize</key>
				<string>{36,32}</string>
				<key>textureRect</key>
				<string>{{37,37},{30,6}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_501_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,32}</string>
				<key>spriteSourceSize</key>
				<string>{36,32}</string>
				<key>textureRect</key>
				<string>{{37,0},{36,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_501.png</string>
			<key>size</key>
			<string>{69,62}</string>
			<key>textureFileName</key>
			<string>icons/player_501.png</string>
		</dict>
	</dict>
</plist>