<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_503_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>textureRect</key>
				<string>{{39,0},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_503_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,28}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>textureRect</key>
				<string>{{31,39},{28,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_503_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,30}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>textureRect</key>
				<string>{{0,39},{30,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_503_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,38}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>textureRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_503.png</string>
			<key>size</key>
			<string>{75,69}</string>
			<key>textureFileName</key>
			<string>icons/player_503.png</string>
		</dict>
	</dict>
</plist>