<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_513_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,30}</string>
				<key>spriteSourceSize</key>
				<string>{33,30}</string>
				<key>textureRect</key>
				<string>{{0,33},{33,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_513_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,30}</string>
				<key>spriteSourceSize</key>
				<string>{33,30}</string>
				<key>textureRect</key>
				<string>{{36,0},{33,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_513_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{31,22}</string>
				<key>spriteSourceSize</key>
				<string>{33,30}</string>
				<key>textureRect</key>
				<string>{{34,34},{31,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_513_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{35,32}</string>
				<key>spriteSourceSize</key>
				<string>{35,32}</string>
				<key>textureRect</key>
				<string>{{0,0},{35,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_513.png</string>
			<key>size</key>
			<string>{66,63}</string>
			<key>textureFileName</key>
			<string>icons/player_513.png</string>
		</dict>
	</dict>
</plist>