<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_511_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{64,68}</string>
				<key>spriteSourceSize</key>
				<string>{64,70}</string>
				<key>textureRect</key>
				<string>{{70,0},{64,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_511_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,66}</string>
				<key>textureRect</key>
				<string>{{70,69},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_511_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{55,58}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{0,73},{55,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_511_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{69,72}</string>
				<key>spriteSourceSize</key>
				<string>{69,74}</string>
				<key>textureRect</key>
				<string>{{0,0},{69,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/player_511-hd.png</string>
			<key>size</key>
			<string>{134,133}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/player_511-hd.png</string>
		</dict>
	</dict>
</plist>