<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_489_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_489_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4.5}</string>
				<key>spriteSize</key>
				<string>{50,31}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{0,65},{50,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_489_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,3}</string>
				<key>spriteSize</key>
				<string>{47,12}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{51,65},{47,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_489_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>textureRect</key>
				<string>{{65,0},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/player_489-hd.png</string>
			<key>size</key>
			<string>{129,96}</string>
			<key>textureFileName</key>
			<string>teamtcm.geometry-dash-odyssey/player_489-hd.png</string>
		</dict>
	</dict>
</plist>